<p id="notice"><%= notice %></p>

<h1>Regiones</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Nombre pi</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @regiones.each do |region| %>
      <tr>
        <td><%= region.nombre %></td>
        <td><%= region.nombre_PI %></td>
        <td><%= link_to 'Show', region %></td>
        <td><%= link_to 'Edit', edit_region_path(region) %></td>
        <td><%= link_to 'Destroy', region, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Region', new_region_path %>
