<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>Publicacion:</strong>
  <%= @prop_casapi_info.publicacion %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @prop_casapi_info.precio %>
</p>

<p>
  <strong>Sector:</strong>
  <%= @prop_casapi_info.sector %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @prop_casapi_info.direccion %>
</p>

<p>
  <strong>Programa:</strong>
  <%= @prop_casapi_info.programa %>
</p>

<p>
  <strong>Superficie:</strong>
  <%= @prop_casapi_info.superficie %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @prop_casapi_info.descripcion %>
</p>

<p>
  <strong>Sup construida:</strong>
  <%= @prop_casapi_info.sup_construida %>
</p>

<p>
  <strong>Sup terreno:</strong>
  <%= @prop_casapi_info.sup_terreno %>
</p>

<p>
  <strong>Prop:</strong>
  <%= @prop_casapi_info.prop %>
</p>

<%= link_to 'Edit', edit_prop_casapi_info_path(@prop_casapi_info) %> |
<%= link_to 'Back', prop_casapi_infos_path %>
</div>
