<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>Publicacion:</strong>
  <%= @prop_casapi_info2.publicacion %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @prop_casapi_info2.precio %>
</p>

<p>
  <strong>Sector:</strong>
  <%= @prop_casapi_info2.sector %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @prop_casapi_info2.direccion %>
</p>

<p>
  <strong>Programa:</strong>
  <%= @prop_casapi_info2.programa %>
</p>

<p>
  <strong>Superficie:</strong>
  <%= @prop_casapi_info2.superficie %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @prop_casapi_info2.descripcion %>
</p>

<p>
  <strong>Sup construida:</strong>
  <%= @prop_casapi_info2.sup_construida %>
</p>

<p>
  <strong>Sup terreno:</strong>
  <%= @prop_casapi_info2.sup_terreno %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @prop_casapi_info2.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @prop_casapi_info2.lng %>
</p>

<p>
  <strong>Zona:</strong>
  <%= @prop_casapi_info2.zona %>
</p>

<p>
  <strong>Valor uf:</strong>
  <%= @prop_casapi_info2.valor_uf %>
</p>

<p>
  <strong>Precio uf:</strong>
  <%= @prop_casapi_info2.precio_uf %>
</p>

<p>
  <strong>Objetivo:</strong>
  <%= @prop_casapi_info2.objetivo %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @prop_casapi_info2.estado %>
</p>

<p>
  <strong>Contacto:</strong>
  <%= @prop_casapi_info2.contacto %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @prop_casapi_info2.telefono %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @prop_casapi_info2.correo %>
</p>

<p>
  <strong>Prop:</strong>
  <%= @prop_casapi_info2.prop %>
</p>

<%= link_to 'Edit', edit_prop_casapi_info2_path(@prop_casapi_info2) %> |
<%= link_to 'Back', prop_casapi_info2s_path %>
</div>
