
<h1>Resultado del Buscador de Mapas</h1>

<h2>Busqueda: "<%=@response_var%>"<h2>

<div>
	<li>Dirección: "<%=@direccion%>"
	<li>Lat: "<%=@lat%>"
	<li>Lng: "<%=@lng%>"
	<li>Comuna: "<%=@nombrecomuna%>"

</div>

</br>
<%= link_to "Buscador", 'comuna_request' %>
</br>
</br>
<%= link_to "Inicio", root_path %>
</br>

<div id="map"></div>

<%= render 'map', lat:@lat, lng: @lng, mapa: @mapa, key: @key, jsonPath: @jsonPath %>

</br>