<h1>Pruebas de las App</h1>
</br>
<%= link_to "Mapa Comunas", 'servicios/comunas_map' %>

</br>
<%= link_to "Buscador Comuna", 'servicios/comuna_request' %>

</br>
<%= link_to "Mapa Predios", 'servicios/predios_map' %>

</br>
<%= link_to "Buscador Predios", 'servicios/predios_request' %>

</br>
<%= link_to "Mapa PRC", 'servicios/prcs_map' %>

</br>
<%= link_to "Buscador PRC", 'servicios/prc_request' %>

</br>
<%= link_to "Buscador General", 'servicios/general_request' %>

