
<h1>Resultado del Buscador de Mapas</h1>

<h2>Busqueda: "<%=@direccion%>"<h2>

<div>

	<li>Lat: "<%=@lat%>"
	<li>Lng: "<%=@lng%>"
</div>

</br>
<%= link_to "Buscador", controller: "servicios", action: "buscador" %>
</br>
</br>
<%= link_to "Inicio", root_path %>
</br>
