<p id="notice"><%= notice %></p>

<p>
  <strong>Lat:</strong>
  <%= @prop.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @prop.lng %>
</p>

<p>
  <strong>M2 terreno:</strong>
  <%= @prop.m2_terreno %>
</p>

<p>
  <strong>Precio uf:</strong>
  <%= @prop.precio_uf %>
</p>

<p>
  <strong>Uf x m2:</strong>
  <%= @prop.uf_x_m2 %>
</p>

<p>
  <strong>Origen:</strong>
  <%= @prop.origen %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @prop.rank %>
</p>

<p>
  <strong>Check:</strong>
  <%= @prop.check %>
</p>

<p>
  <strong>Fl 1:</strong>
  <%= @prop.fl_1 %>
</p>

<p>
  <strong>Fl 2:</strong>
  <%= @prop.fl_2 %>
</p>

<p>
  <strong>Fl 3:</strong>
  <%= @prop.fl_3 %>
</p>

<p>
  <strong>Int 1:</strong>
  <%= @prop.int_1 %>
</p>

<p>
  <strong>Int 2:</strong>
  <%= @prop.int_2 %>
</p>

<p>
  <strong>Int 3:</strong>
  <%= @prop.int_3 %>
</p>

<p>
  <strong>Str 1:</strong>
  <%= @prop.str_1 %>
</p>

<p>
  <strong>Str 2:</strong>
  <%= @prop.str_2 %>
</p>

<p>
  <strong>Str 3:</strong>
  <%= @prop.str_3 %>
</p>

<p>
  <strong>Dt 1:</strong>
  <%= @prop.dt_1 %>
</p>

<p>
  <strong>Dt 2:</strong>
  <%= @prop.dt_2 %>
</p>

<p>
  <strong>Dt 3:</strong>
  <%= @prop.dt_3 %>
</p>

<p>
  <strong>Dt 4:</strong>
  <%= @prop.dt_4 %>
</p>

<p>
  <strong>Bo 1:</strong>
  <%= @prop.bo_1 %>
</p>

<p>
  <strong>Bo 2:</strong>
  <%= @prop.bo_2 %>
</p>

<p>
  <strong>Bo 3:</strong>
  <%= @prop.bo_3 %>
</p>

<%= link_to 'Edit', edit_prop_path(@prop) %> |
<%= link_to 'Back', props_path %>
