<%= form_with(model: ubicacion, local: true) do |form| %>
  <% if ubicacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ubicacion.errors.count, "error") %> prohibited this ubicacion from being saved:</h2>

      <ul>
      <% ubicacion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :direccion %>
    <%= form.text_field :direccion, id: :ubicacion_direccion %>
  </div>

  <div class="field">
    <%= form.label :comuna %>
    <%= form.text_field :comuna, id: :ubicacion_comuna %>
  </div>

  <div class="field">
    <%= form.label :lat %>
    <%= form.text_field :lat, id: :ubicacion_lat %>
  </div>

  <div class="field">
    <%= form.label :lng %>
    <%= form.text_field :lng, id: :ubicacion_lng %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
