<h1>Pruebas de la app</h1>
</br>
<%= link_to "Mapa Comunas", 'servicios/comunas_map' %>

</br>
<%= link_to "Buscador", 'servicios/buscador' %>

</br>
<%= link_to 'Ubicaciones', ubicaciones_path %>

</br>
Hola!
</br>
Prueba Variable de Entorno :"<%= @AAA %>"
</br>
Prueba Helper :"<%= @BBB %>"


